In [46]:
import pandas as pd
from sigfig import round
import matplotlib.pyplot as plt

redondeo

In [47]:
def rd(valor, error):
    return eval('("' + round(valor, error, cutoff=19, sep ='","') + '")')

In [48]:
rd(0.087214, 0.0001256)

('0.08721', '0.00013')

In [49]:
rd(1280.23, 3.1456)

('1280', '3')

pasar de pandas a latex

In [50]:
def tex(panda, columnas):
    l = len(panda)
    a = len(columnas)
    print('\\begin{array}{|' + 'l|'*a + '} \\hline')
    for fila in range(l):
        s = ''
        for col in columnas:
            s+= str(panda[col][fila]) + ' & '
        print(s[0: -2] + ' \\\\ \\hline')
    print('\\end{array}')

importar datos

In [51]:
datos = pd.read_csv('D:/Latex/UNED/Primer curso/Tecnicas experimentales/pendulo/Datos/pendulo.csv', names=['b', 't1', 't2', 't3', 't4', 't5'])

tabla 1

In [52]:
tex(datos, ['b', 't1', 't2', 't3', 't4', 't5'])

\begin{array}{|l|l|l|l|l|l|} \hline
0.06 & 15.07 & 15.13 & 15.19 & 15.13 & 15.0  \\ \hline
0.07 & 14.31 & 13.28 & 14.31 & 14.28 & 14.38  \\ \hline
0.08 & 13.91 & 13.91 & 13.97 & 13.82 & 13.78  \\ \hline
0.09 & 13.53 & 13.44 & 13.25 & 13.37 & 13.78  \\ \hline
0.1 & 13.25 & 13.37 & 13.4 & 13.16 & 13.19  \\ \hline
0.11 & 13.06 & 12.97 & 13.03 & 13.12 & 12.97  \\ \hline
0.12 & 12.84 & 12.81 & 12.88 & 12.84 & 12.72  \\ \hline
0.13 & 12.56 & 12.5 & 12.72 & 12.69 & 12.78  \\ \hline
0.14 & 12.53 & 12.63 & 12.59 & 12.5 & 12.47  \\ \hline
0.15 & 12.44 & 12.41 & 12.53 & 12.44 & 12.5  \\ \hline
0.16 & 12.44 & 12.43 & 12.5 & 12.54 & 12.47  \\ \hline
0.17 & 12.34 & 12.47 & 12.31 & 12.35 & 12.28  \\ \hline
0.18 & 12.37 & 12.5 & 12.37 & 12.47 & 12.43  \\ \hline
0.19 & 12.16 & 12.4 & 12.56 & 12.6 & 12.19  \\ \hline
0.2 & 12.46 & 12.53 & 12.62 & 12.53 & 12.37  \\ \hline
0.21 & 12.59 & 12.5 & 12.41 & 12.62 & 12.56  \\ \hline
0.22 & 12.56 & 12.62 & 12.57 & 12.59 & 12.59  \\ \hline
0.23 & 25.03 & 25.22 & 25.31 & 25.18 & 25.35  \\ \hline
0.24 & 25.34 & 25.37 & 25.41 & 25.44 & 25.25  \\ \hline
0.25 & 25.5 & 25.47 & 25.59 & 25.57 & 25.6  \\ \hline
0.26 & 25.78 & 24.38 & 25.78 & 25.72 & 25.59  \\ \hline
0.27 & 12.97 & 12.94 & 13.03 & 13.0 & 13.0  \\ \hline
0.28 & 13.0 & 13.06 & 12.91 & 13.03 & 13.07  \\ \hline
0.29 & 12.94 & 13.12 & 13.19 & 13.13 & 13.16  \\ \hline
0.3 & 13.29 & 13.22 & 13.35 & 13.09 & 13.19  \\ \hline
0.31 & 13.5 & 13.54 & 13.21 & 13.41 & 13.22  \\ \hline
\end{array}

media y su error

In [53]:
datos['t*'] = (datos['t1']+datos['t2']+datos['t3']+datos['t4']+datos['t5'])/50
datos['et*'] = (datos['t1']/10 - datos['t*'])**2
for i in range(2, 6):
    col = 't' + str(i)
    datos['et*'] += (datos[col]/10 - datos['t*'])**2
datos['et*'] /= 25
datos['et*'] = datos['et*']**0.5
datos[['t*str', 'et*str']] = datos[['t*', 'et*']].astype(str)
for i in range(len(datos)):
    a, b = rd(datos['t*'][i], datos['et*'][i])
    datos['t*str'][i], datos['et*str'][i] = a, b
    datos['t*'][i], datos['et*'][i] = a, b

C:\Users\User\AppData\Local\Temp/ipykernel_15572/2336661262.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['t*str'][i], datos['et*str'][i] = a, b
C:\Users\User\AppData\Local\Temp/ipykernel_15572/2336661262.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['t*'][i], datos['et*'][i] = a, b

tabla 2

In [54]:
tex(datos, ['b', 't*str', 'et*str'])

\begin{array}{|l|l|l|} \hline
0.06 & 1.510 & 0.003  \\ \hline
0.07 & 1.411 & 0.019  \\ \hline
0.08 & 1.388 & 0.003  \\ \hline
0.09 & 1.347 & 0.008  \\ \hline
0.1 & 1.327 & 0.004  \\ \hline
0.11 & 1.303 & 0.003  \\ \hline
0.12 & 1.282 & 0.002  \\ \hline
0.13 & 1.265 & 0.005  \\ \hline
0.14 & 1.254 & 0.003  \\ \hline
0.15 & 1.246 & 0.002  \\ \hline
0.16 & 1.2476 & 0.0018  \\ \hline
0.17 & 1.235 & 0.003  \\ \hline
0.18 & 1.243 & 0.002  \\ \hline
0.19 & 1.238 & 0.008  \\ \hline
0.2 & 1.250 & 0.004  \\ \hline
0.21 & 1.254 & 0.003  \\ \hline
0.22 & 1.2586 & 0.0009  \\ \hline
0.23 & 2.522 & 0.005  \\ \hline
0.24 & 2.536 & 0.003  \\ \hline
0.25 & 2.555 & 0.002  \\ \hline
0.26 & 2.55 & 0.02  \\ \hline
0.27 & 1.2988 & 0.0014  \\ \hline
0.28 & 1.301 & 0.003  \\ \hline
0.29 & 1.311 & 0.004  \\ \hline
0.3 & 1.323 & 0.004  \\ \hline
0.31 & 1.338 & 0.006  \\ \hline
\end{array}

In [55]:
datos

       b     t1     t2     t3     t4     t5      t*     et*   t*str  et*str
0   0.06  15.07  15.13  15.19  15.13  15.00  1.5100  0.0030   1.510   0.003
1   0.07  14.31  13.28  14.31  14.28  14.38  1.4110  0.0190   1.411   0.019
2   0.08  13.91  13.91  13.97  13.82  13.78  1.3880  0.0030   1.388   0.003
3   0.09  13.53  13.44  13.25  13.37  13.78  1.3470  0.0080   1.347   0.008
4   0.10  13.25  13.37  13.40  13.16  13.19  1.3270  0.0040   1.327   0.004
5   0.11  13.06  12.97  13.03  13.12  12.97  1.3030  0.0030   1.303   0.003
6   0.12  12.84  12.81  12.88  12.84  12.72  1.2820  0.0020   1.282   0.002
7   0.13  12.56  12.50  12.72  12.69  12.78  1.2650  0.0050   1.265   0.005
8   0.14  12.53  12.63  12.59  12.50  12.47  1.2540  0.0030   1.254   0.003
9   0.15  12.44  12.41  12.53  12.44  12.50  1.2460  0.0020   1.246   0.002
10  0.16  12.44  12.43  12.50  12.54  12.47  1.2476  0.0018  1.2476  0.0018
11  0.17  12.34  12.47  12.31  12.35  12.28  1.2350  0.0030   1.235   0.003
12  0.18  12.37  12.50  12.37  12.47  12.43  1.2430  0.0020   1.243   0.002
13  0.19  12.16  12.40  12.56  12.60  12.19  1.2380  0.0080   1.238   0.008
14  0.20  12.46  12.53  12.62  12.53  12.37  1.2500  0.0040   1.250   0.004
15  0.21  12.59  12.50  12.41  12.62  12.56  1.2540  0.0030   1.254   0.003
16  0.22  12.56  12.62  12.57  12.59  12.59  1.2586  0.0009  1.2586  0.0009
17  0.23  25.03  25.22  25.31  25.18  25.35  2.5220  0.0050   2.522   0.005
18  0.24  25.34  25.37  25.41  25.44  25.25  2.5360  0.0030   2.536   0.003
19  0.25  25.50  25.47  25.59  25.57  25.60  2.5550  0.0020   2.555   0.002
20  0.26  25.78  24.38  25.78  25.72  25.59  2.5500  0.0200    2.55    0.02
21  0.27  12.97  12.94  13.03  13.00  13.00  1.2988  0.0014  1.2988  0.0014
22  0.28  13.00  13.06  12.91  13.03  13.07  1.3010  0.0030   1.301   0.003
23  0.29  12.94  13.12  13.19  13.13  13.16  1.3110  0.0040   1.311   0.004
24  0.30  13.29  13.22  13.35  13.09  13.19  1.3230  0.0040   1.323   0.004
25  0.31  13.50  13.54  13.21  13.41  13.22  1.3380  0.0060   1.338   0.006